    .model {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        /* 扩展 */
        /* 第四种 */
        /* display: flex;
        /*水平居中 */
        /* justify-content: center;
        /*垂直居中 */
        /* align-items: center;  */
    }
    
    .model .content {
        width: 400px;
        height: 250px;
        background-color: red;
        font-size: 30px;
        color: #fff;
        /* 居中方式 */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        /* 第二种 */
        /* position: absolute;
        top: 50%;
        margin-top: -125px;
        left: 50%;
        margin-left: -200px; */
        /* 第三种 */
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); */
    }